<p>Estás en la página principal!</p>

<!-- <ul *ngFor="let customer of customers" >
  <li >
    Name : Luis
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let customer of customers"     >

  </li>
</ul> -->
<div *ngFor="let customer of customers" class="card" style="width: 18rem;">
  <img [src]="customer.photoURL" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{customer.name}}   </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email : {{customer.email}} </li>
    <li class="list-group-item">Contacted :
      <!-- <input *ngIf="customer.contacted" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <input *ngIf="customer.contacted == false" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"> -->
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="customer.contacted">
    </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Ver detalles</a>
    <a href="#" class="btn btn-primary">LLamar</a>
  </div>
</div>
